.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/music-recommender.iml
.idea/vcs.xml
data/train_triplets.txt
msd_tagtraum_cd2.cls
track_metadata.db
train_triplets.txt
data